* {
	box-sizing: border-box;
	background-color: #e5989b;
}

.animalGrid {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

img{
  max-width: 100px;
  max-height: 100px;
}
